@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.content,
.banner-container {
  /* width: 80%; */
  max-width: 1320px;
  margin: 0 auto;
  /* border: 1px solid blue; */
}

.input-field {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  border: 1px solid #3C3252;
  padding: 0 20px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.nav-menu {
  display: none;
}

.search-box {
  width: 60%;
  height: 44px;
  display: flex;
  justify-content: space-between;
}

.logo .name {
  font-size: 25px;
  font-weight: 900;
  font-style: italic;
}

.top-nav {
  background: #4ABCE9;
  color: white;
  font-family: Montserrat;
}

.navbar {
  background-color: white;
  color: black;
  background-color: #190D33;
  padding: 25px 0;
  color: white;
}

.logo {
  width: 15%;
  display: flex;
  align-items: center;
  gap: 8px;
  /* border: 3px solid yellow; */
}

.top-nav-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  height: 44px;
  align-items: center;
  font-size: 14px;
  overflow-x: hidden;
}

.search-box input:focus {
  outline: none;
  border: none;
}

.middle-navbar {
  font-family: Montserrat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.bottom-nav {
  font-family: Montserrat;
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}

.input-divider {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-box input[type='text'] {
  width: 100%;
  color: white;
  border: none;
  background-color: inherit;
}

.search-btn {
  width: 13%;
  background-color: #409DDF;
  font-size: 14px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  color: white;
}

.nav-icons {
  width: 25%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}

.dAccount {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.d-nav-icon {
  position: relative;
  width: 36px;
  cursor: pointer;
}

.d-cart-icon {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}

.nav-badge {
  position: absolute;
  background-color: #409DDF;
  right: -1px;
  top: -7px;
  padding: 1px 5px;
  border-radius: 50%;
}

.d-browse-category {
  display: flex;
  align-items: center;
  gap: 30px;
}

.list-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.banner-section {
  /* border: 2px solid red; */
  height: 721px;
  background:
    radial-gradient(circle at left center,
      #3393b5 0%,
      #256880 10%,
      transparent 30%),
    linear-gradient(to right,
      #1B1138 0%,
      #1B1138 100%);
  font-family: Inter;
}

.banner-content a {
  display: inline-block;
  width: 143px;
  height: 48px;
  background-color: #42A2E0;
  border: 1px solid #42A2E0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  margin-top: 25px;
  transition: 0.3s;
}

.banner-content a:hover {
  background-color: transparent;
  color: #42A2E0;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  width: 50%;
  color: white;
}

.banner-heading {
  font-size: 60px;
  margin-bottom: 25px;
}

.banner-image {
  object-fit: cover;
}

.banner-support-section {
  background-color: #190D33;
  color: white;
}

.banner-support-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  font-family: Montserrat;
}

.banner-support-content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.popular-category-section,
.latestCollection,
.weekProductCollection,
.blog-section {
  font-family: Montserrat;
  padding-top: 130px;
}

.productAndCategory-seciton {
  background-color: #160C2D;
}

.popularCategory-cardContent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 29px;
}

.popularCategory-title {
  font-size: 24px;
  color: white;
  margin-bottom: 30px;
  font-weight: 600;
}

.popular-category-card {
  max-width: 244px;
  width: 100%;
  background-color: #1F1D40;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 26px;
  border-radius: 8px;
}

.popular-P-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.popular-P-name {
  font-size: 18px;
  color: white;
}

.items-title {
  color: gray;
}

.popularCategory-img {
  transition: 0.6s;
  object-fit: cover;
}

.popularCategory-img:hover,
.cardImg:hover {
  transform: scale(1.3);
}

.popular-C-arrow {
  padding: 11px;
  border: 1px solid gray;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.popular-C-arrow:hover {
  background-color: #46B1E5;
  border: none;
  border: 1px solid #46B1E5;
}

.latest-titleContent,
.best-titleContent,
.weekProduct-titleContent,
.blog-titleContent {
  background-color: #1F1D40;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 28px;
  border-radius: 8px;
}

.latest-title,
.best-title,
.week-title {
  font-size: 24px;
  font-weight: 600;
}



.latestView,
.bestView,
.weekView {
  display: flex;
  align-items: center;
  gap: 10px;
}

.latestCard-container,
.bestCard-container,
.weekCard-container,
.blogCard-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.latestProduct-card,
.bestProduct-card,
.weekProduct-card {
  max-width: 306px;
  width: 100%;
  background-color: #1F1D40;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  justify-content: space-between;
}

.specialProduct-card {
  background-image: url('./images/Vector2.png');
  border-radius: 10px;
  max-width: 306px;
  width: 100%;
}

.specilaPImgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.weekTitle-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.img-container {
  background-color: #2A2848;
  border-radius: 8px;
  padding: 27px 0;
  height: 50%;
  position: relative;
}

.cardImg {
  display: flex;
  justify-self: center;
  padding: 20px;
  transition: 0.6s;
}

.product-name {
  font-size: 16px;
  color: white;
  font-weight: 600;
  padding-top: 15px;
}

.productCategory {
  color: gray;
  padding-top: 18px;
}

.starReview {
  display: flex;
  gap: 24px;
  padding-top: 15px;
  color: gray;
}

.star {
  display: flex;
  gap: 5px;
}

.priceContent {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 18px;
}

.price {
  font-size: 20px;
  color: #4DC5ED;
  font-weight: 600;
}

.time-card {
  display: flex;
  gap: 7px;
}

.mainPrice {
  color: gray;
  text-decoration: line-through;
}

.stock-container {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-top: 10px;
}

.instock-title {
  color: green;
  ;
  display: flex;
  align-items: center;
}

.outstock-title {
  color: red;
  display: flex;
  align-items: center;
}

.productsCount {
  color: gray;
}

.addCartBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
  color: white;
  background-color: #4DC5ED;
  border: none;
  padding: 10px 0;
  border: 1px solid #4DC5ED;
  border-radius: 8px;
  margin-top: 15px;
  transition: 0.4s;
  cursor: pointer;
}

.addCartBtn:hover {
  background-color: transparent;
}

.num {
  background-color: #3A3861;
  padding: 12px;
  border-radius: 4px;
}

.newsletter-section {
  background-image: linear-gradient(to right, #4DC8ED, #3F98DD);
  margin-top: 110px;
  font-family: Montserrat;
  color: white;
}

.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter-title {
  font-size: 32px;
  font-weight: 600;
}

.subscirbe-section {
  max-width: 550px;
  background-color: white;
  border-radius: 8px;
  width: 100%;
  color: black;
}

.subscirbe-section form {
  display: flex;
  padding: 5px;
}

.subscribeBtn {
  border-radius: 5px;
  background-color: #4DC6ED;
  padding: 15px 25px;
  border: none;
  color: white;
  border: 1px solid #4DC6ED;
  transition: 0.4s;
  cursor: pointer;
}

.subscribeBtn:hover {
  background-color: transparent;
  color: #4DC6ED;
}

.subscribInput {
  width: 100%;
  border: none;
  padding: 0 10px;
  font-size: 16px;
}

.subscribInput:focus {
  border: none;
  outline: none;
}

.info-title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 14px;
}

.footer-section {
  background-color: #1F1D40;
  color: white;
  font-family: Montserrat;
}

.footer-section ul {
  list-style-type: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}

.footer-title,
.footer-section li {
  color: rgba(152, 162, 179, 1);
  padding-top: 10px;
}

.footer-logo {
  width: 30%;
}

.email-support,
.phone-contact {
  display: flex;
  gap: 7px;
  align-items: center;
}

.location {
  display: flex;
  align-items: start;
  gap: 7px;
}

.footer-bottom {
  background-color: #25234B;
}

.footer-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.payment-icons {
  display: flex;
  gap: 10px;
}

.socialIcons {
  display: flex;
  gap: 8px;
  margin-top: 25px;
}

.gaming-image-container {
  display: flex;
  gap: 30px;
  margin-top: 110px;
}

.gaming-image-content {
   flex: 1;
  aspect-ratio: 16 / 9;
  max-height: 300px;
  height: 100%;
}

.gaming-img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.blog-card {
  max-width: 306px;
  width: 100%;
  border-radius: 13px;
  background-color: #1F1D40;
}

.blog-img {
  max-width: 100%;
  width: 100%;
  max-height: 196px;
  height: 100%;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
}

.blog-content {
  color: white;
  justify-self: center;
  text-align: center;
  padding: 20px 0;
}

.blogContent-title {
  padding: 10px 0;
}

.read-btn-content {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding-top: 10px;
}

.read-more-btn {
  text-decoration: none;
  color: white;
}


.discount-title {
  background-color: #EDA766;
  color: white;
  width: 75px;
  padding: 5px;
  position: absolute;
  left: 0;
  top: 16px;
  z-index: 1;
}

.wishlist-container {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.view-container {
  position: absolute;
  right: 0;
  top: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.compare-container {
  position: absolute;
  right: 0;
  top: 100px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.wishlist-title,
.view-title,
.compare-title {
  background-color: #4BC0EB;
  padding: 5px 9px;
  color: white;
  border-radius: 5px;
}

.whislist-img,
.view-img,
.compare-img {
  background-color: #4BC0EB;
  padding: 5px;
  border-radius: 50%;
}

.bg-color {
  background-color: green;
}






@media (max-width:1600px) {

  .content,
  .banner-container {
    width: 90%;
  }

  .top-nav-content {
    width: 100%;
    white-space: nowrap;
    justify-content: center;
    gap: 20px;
  }


}



@media (max-width:1350px) {
  .search-box {
    width: 55%;
  }

  .nav-icons {
    width: 45%;
  }

  .search-box input[type='text'],
  .input-name {
    width: 50%;
  }

  .popularCategory-cardContent {
    grid-template-columns: repeat(4, 1fr);
  }

  .latestCard-container,
  .bestCard-container,
  .weekCard-container,
  .blogCard-container {
    grid-template-columns: repeat(3, 1fr);
  }


}




@media (max-width:1250px) {
  .nav-menu {
    display: block;
  }

  .bottom-nav {
    display: none;
  }

  .banner-heading {
    font-size: 40px;
  }

  .banner-support-container {
    width: 90%;
  }

  .latestCard-container,
  .bestCard-container,
  .weekCard-container,
  .blogCard-container {
    grid-template-columns: repeat(3, 1fr);
  }
}




@media (max-width:1024px) {
  .nav-icons {
    display: none;
  }

  .search-box {
    width: 60%;
  }

  .banner-section {
    height: auto;
    padding-bottom: 25px;
  }

  .banner-content {
    width: 100%;
    padding: 0 20px;
  }

  .banner-container {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .banner-image {
    height: 500px;
    /* border: 1px solid blue; */
  }

  .banner-support-container {
    flex-wrap: wrap;
    gap: 30px;
  }

  .popularCategory-cardContent {
    grid-template-columns: repeat(3, 1fr);
  }

  .latestCard-container,
  .bestCard-container,
  .weekCard-container,
  .blogCard-container {
    grid-template-columns: repeat(2, 1fr);
  }
}





@media (max-width:768px) {
  .search-box {
    display: none;
  }

  .banner-image,
  .banner-container {
    width: 100%;
  }

  .banner-heading {
    font-size: 30px;
  }

  .banner-support-container {
    justify-content: start;
    align-items: left;
  }

  .popularCategory-cardContent {
    grid-template-columns: repeat(2, 1fr);
  }

  .specialPLogo {
    width: 50%;
  }

  .specialPHeadphone {
    width: 100%;
  }
  .footer {
    flex-direction: column;
    gap: 50px;
    padding: 40px 10px;
  }
   .newsletter {
    flex-direction: column;
    gap: 35px;
    padding: 40px 10px;
  }
}


@media (max-width:610px) {

  .popularCategory-cardContent,
  .latestCard-container,
  .bestCard-container,
  .weekCard-container,
  .blogCard-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .popular-category-card {
    max-width: 244px;
    height: 300px;
  }

  .best-titleContent {
    flex-direction: column;
    gap: 15px;
  }

  .latest-titleContent,
  .weekProduct-titleContent,
  .blog-titleContent {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  .bestView {
    flex-direction: column;
  }

  .weekView {
    margin-top: 13px;
  }

  .specialPLogo {
    width: 50%;
  }

  .specilaPImgContainer {
    padding: 20px 0;
    gap: 20px;
  }

  .latestCard-container,
  .bestCard-container,
  .popularCategory-cardContent,
  .weekCard-container,
  .blogCard-container {
    place-items: center;
  }

  .subscribeBtn {
    padding: 10px 10px;
  }

  .subscribInput {
    font-size: 13px;
  }


  .footer-logo {
    width: 100%;
  }

  .footer-bottom-content {
    flex-direction: column;
    gap: 20px;
  }

  .info-title {
    padding-bottom: 5px;
  }

  .socialIcons {
    margin-top: 15px;
  }

 

  .newsletter-title {
    font-size: 24px;
  }

  .weekTitle-container {
    flex-direction: column;
    align-items: start;
  }

  .gaming-image-container {
    flex-direction: column;
  }

  .banner-image{
    height: 100%;
    max-height: 500px;
  }

  /* .latestProduct-card,
  .bestProduct-card,
  .specialProduct-card,
  .weekProduct-card {
    max-width: 310px;
  } */
}